//
   Created by yinbin on 2015/8/5.
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    base(href='/')
    title 中石油书吧管理系统
    meta(name='keywords', content='中石油,书吧,中石油书吧管理系统')
    meta(name='description', content='中石油书吧管理系统,青岛恒之城科技股份有限公司制作')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // basic styles
    link(href='/assets/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/assets/css/font-awesome.min.css')
    //if IE 7
      link(rel='stylesheet', href='/assets/css/font-awesome-ie7.min.css')
    // page specific plugin styles
    link(rel='stylesheet', href='/assets/css/jquery-ui-1.10.3.full.min.css')
    link(rel='stylesheet',href='/assets/css/jquery.gritter.css')
    link(rel='stylesheet', href='/assets/css/datepicker.css')
    link(rel='stylesheet', href='/assets/css/ui.jqgrid.css')
    // fonts
    // <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
    // ace styles
    link(rel='stylesheet', href='/assets/css/ace.min.css')
    link(rel='stylesheet', href='/assets/css/ace-rtl.min.css')
    link(rel='stylesheet', href='/assets/css/ace-skins.min.css')
    //if lte IE 8
      link(rel='stylesheet', href='/assets/css/ace-ie.min.css')
    // inline styles related to this page
    style.
      .ui-jqgrid-view > .ui-jqgrid-titlebar {
        background: lightgray;
      }

      .breadcrumbs, #sidebar-collapse, .alert {
        display: none;
      }

      .date, .btn, input {
        height: 33px;
      }

      .searchTable {
        width: 100%;
        border-collapse: separate;
        border-spacing: 5px;
        margin-bottom: 10px;
      }

      .searchTable tr td:nth-child(odd) {
        text-align: right;
        width: 100px;
        height: 33px;
      }

      .searchTable tr td:nth-child(even) {
        width: 200px;
        height: 33px;
      }

      .searchTable tr td:nth-last-child(1) {
        width: auto;
        float: left;
      }

      .searchTable input {
        width: 180px;
      }

      a {
        text-decoration: underline;
        cursor: pointer;
      }

      a:hover {
        color: blue;
      }

    // ace settings handler
    script(src='/assets/js/ace-extra.min.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='/assets/js/html5shiv.js')
      script(src='/assets/js/respond.min.js')
    // basic scripts
    //if !IE
    script(src='/assets/js/jquery-2.0.3.min.js')
    // <![endif]
    //if IE
      script(src='/assets/js/jquery-1.10.2.min.js')
    //if !IE
    script(type='text/javascript').
      window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    // <![endif]
    //if IE
      script(type='text/javascript').
        window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>" + "<" + "/script>");
    script(type='text/javascript').
      if ("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    script(src='/assets/js/bootstrap.min.js')
    script(src='/assets/js/typeahead-bs2.min.js')
    // page specific plugin scripts
    script(src='/assets/js/date-time/bootstrap-datepicker.min.js')
    script(src='/assets/js/jqGrid/jquery.jqGrid.min.js')
    script(src='/assets/js/jqGrid/i18n/grid.locale-en.js')
    // ace scripts
    script(src='/assets/js/ace-elements.min.js')
    script(src='/assets/js/ace.min.js')
    script(src='/assets/js/bootbox.min.js')
    script(src='/assets/js/jquery.gritter.min.js')
    // inline scripts related to this page
    script(type='text/javascript', src='/javascripts/format.js')
    //script(src='/assets/Highcharts-4.1.7/js/highcharts.js')
    //script(src='/assets/Highcharts-4.1.7/js/modules/exporting.js')
    //script(src="blueimp-file-upload/js/vendor/jquery.ui.widget.js")
    //script(src="blueimp-tmpl/js/tmpl.min.js")
    //script(src="blueimp-load-image/js/load-image.all.min.js")
    //script(src="blueimp-canvas-to-blob/js/canvas-to-blob.min.js")
    //script(src="blueimp-file-upload/js/jquery.iframe-transport.js")
    //script(src="blueimp-file-upload/js/jquery.fileupload.js")
    //script(src="blueimp-file-upload/js/jquery.fileupload-process.js")
    //script(src="blueimp-file-upload/js/jquery.fileupload-image.js")
    //script(src="blueimp-file-upload/js/jquery.fileupload-audio.js")
    //script(src="blueimp-file-upload/js/jquery.fileupload-video.js")
    //script(src="blueimp-file-upload/js/jquery.fileupload-validate.js")
    //script(src="blueimp-file-upload/js/jquery.fileupload-ui.js")
    script(type='text/javascript').
      var BASE_URL = 'http://astroway.net:3000/';
      var BASE_URL = 'http://localhost:3000/';
      var grid_selector = "#grid-table";
      var pager_selector = "#grid-pager";
      var search_form = '#search-form-id';
      var _rowNum = 10;
      var _height = 300;
      var _title = '';
      var _url = "";
      var _postData = {};
      /**
       * 生成HTML模板
       * @param {Object} templateStr ：模板
       * @param {Object} data
       */
      function render(templateStr, data) {
        return templateStr.replace(/\{([\w\.]*)\}/g, function (str, key) {
          var keys = key.split("."),
                  v = data[keys.shift()];
          for (var i = 0, l = keys.length; i < l; i++)
            v = v[keys[i]];
          return (typeof v !== "undefined" && v !== null) ? v : "";
        });
      }
  body
    #navbar.navbar.navbar-default(style="background:url(assets/images/nav-background-picture.png);" )
      script(type='text/javascript').
        try {
          ace.settings.check('navbar', 'fixed')
        } catch (e) {
        }
      #navbar-container.navbar-container(style='')
        .navbar-header.pull-left
          span.navbar-brand(href='#')
            small
              i
              |                    中石油书吧APP管理系统
          // /.brand
        a.btn.btn-default.pull-right(href="/logout",style="margin-top:10px;padding-top:2px;") 退出登录
      // /.container
    #main-container.main-container
      script(type='text/javascript').
        try {
          ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
      .main-container-inner
        //a#menu-toggler.menu-toggler(href='#')
            span.menu-text
        #sidebar.sidebar
          script(type='text/javascript').
            try {
              ace.settings.check('sidebar', 'fixed')
            } catch (e) {
            }
          #sidebar-shortcuts.sidebar-shortcuts
            #sidebar-shortcuts-large.sidebar-shortcuts-large
              button.btn.btn-success
                i.icon-signal
              button.btn.btn-info
                i.icon-pencil
              button.btn.btn-warning
                i.icon-group
              button.btn.btn-danger
                i.icon-cogs
            #sidebar-shortcuts-mini.sidebar-shortcuts-mini
              span.btn.btn-success
              span.btn.btn-info
              span.btn.btn-warning
              span.btn.btn-danger
          // #sidebar-shortcuts
          ul#menu-list-id.nav.nav-list
            li
              a(href='user')
                img(src='assets/images/student-jbqk.png' style='width:%;height:60%')
                span.menu-text 用户管理
            li.active
              a(href='book/category')
                img(src='assets/images/kckb.png' style='width:%;height:60%')
                span.menu-text 分类管理
            li
              a(href='book/pdf')
                img(src='assets/images/teacher-gzqk.png' style='width:%;height:60%')
                span.menu-text 图书管理
            li
              a(href='about')
                img(src='assets/images/student-xxzk.png' style='width:%;height:60%')
                span.menu-text 关于系统
          #sidebar-collapse.sidebar-collapse
            i.icon-double-angle-left(data-icon1='icon-double-angle-left', data-icon2='icon-double-angle-right')
          script(type='text/javascript').
            try {
              ace.settings.check('sidebar', 'collapsed')
            } catch (e) {
            }
            $(function () {
              var pathname = window.location.pathname;
              var a = $('#menu-list-id').children('li').removeClass('active').children('a').filter(function () {
                return '/' + $(this).attr('href') === pathname;
              }).parent().addClass('active');
            });
        block content

      // /.main-container-inner
      a#btn-scroll-up.btn-scroll-up.btn.btn-sm.btn-inverse(href='#')
        i.icon-double-angle-up.icon-only.bigger-110
    // /.main-container
    //input#fileupload(type="file",name="files[]",data-url="/upload" multiple)
    script(type='text/javascript').
      /**
       * 弹出图片窗口，并且显示评论信息。
       */
      function upload(owner, url, id) {
        var html = '<div class="row">' +
                '<iframe id="file_upload_iframe" name="file_upload_iframe" width="0" height="0" style="display: none;"></iframe>' +
                '<div class="col-md-12"> ' +
                '<form id="file_upload_form" class="form-horizontal" action="' + url + '" method="post" enctype="multipart/form-data" target="file_upload_iframe">' +
                '<div class="form-group"> ' +
                '<label class="col-md-3 control-label" for="name">请选择文件:</label> ' +
                '<div class="col-md-8"> ' +
                '<input type="file" name="file"  multiple="true" class="form-control input-md"> ' +
                  //'<span class="help-block">Here goes your name</span>' +
                '</div> ' +
                '</div> ' +
                '<input type="hidden" name="id" value="' + id + '"/><br>' +
                '</div>' +
                '</form>' +
                '</div>' +
                '</div>';
        window.__myDialog = bootbox.dialog({
                  //size: 'small',
                  title: "文件上传对话框",
                  message: html,
                  buttons: {
                    xx: {
                      label: "上传",
                      className: "btn-success",
                      callback: function () {
                        $('#file_upload_form').submit();
                        return false;
                      }
                    }
                  }
                }
        );
      }

      jQuery(function ($) {
        $(search_form).submit(function (evt) {
          var formData = $(this).serializeArray();
          var postData = {};
          for (var i = 0; i < formData.length; i++) {
            var f = formData[i];
            postData[f.name] = f.value;
          }
          jQuery(grid_selector).jqGrid('setGridParam', {
            datatype: 'json',
            postData: postData, //发送数据
            page: 1
          }).trigger("reloadGrid");
          evt.stopPropagation();
          evt.preventDefault();
          return false;
        });
        jQuery(grid_selector).jqGrid({
          //direction: "rtl",
          url: _url,
          postData: _postData,
          //autoWidth:false,
          //shrinkToFit: false,
          //            data: grid_data,
          datatype: "JSON",
          mtype: "POST",//提交方式
          height: _height,
          colNames: _colNames,
          sortname: _sortname,//默认排序列
          sortorder: _sortorder,//排序方式 asc desc
          //            colNames:['添加日期', '手机号码', '银行卡号','备注','操作'],
          colModel: _colModel,
          viewrecords: true,
          rowNum: _rowNum,
          rowList: [4, 8, 12],
          pager: pager_selector,
          altRows: true,
          //toppager: true,
          //            sortname: 'id',
          //            sortorder: 'desc',
          //            multiselect: true,
          //multikey: "ctrlKey",              控制checkbox
          multiboxonly: true,
          loadComplete: function (xhr) {
            //                console.log(JSON.stringify(xhr.rows));
            if (typeof _tuBiao === 'function')_tuBiao(xhr.rows);
            var table = this;
            setTimeout(function () {
              //                    styleCheckbox(table);
              updateActionIcons(table);
              updatePagerIcons(table);
              enableTooltips(table);
            }, 0);
          },
          editurl: $path_base + "/dummy.html",//nothing is saved
          caption: _title,
          autowidth: true
        });
        //navButtons
        jQuery(grid_selector).jqGrid('navGrid', pager_selector,
                { 	//navbar options
                  edit: false,
                  editicon: 'icon-pencil blue',
                  add: false,
                  addicon: 'icon-plus-sign purple',
                  del: false,
                  delicon: 'icon-trash red',
                  search: false,
                  searchicon: 'icon-search orange',
                  refresh: false,
                  refreshicon: 'icon-refresh green',
                  view: false,
                  viewicon: 'icon-zoom-in grey'
                },
                {
                  //edit record form
                  //closeAfterEdit: true,
                  recreateForm: true,
                  beforeShowForm: function (e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_edit_form(form);
                  }
                },
                {
                  //new record form
                  closeAfterAdd: true,
                  recreateForm: true,
                  viewPagerButtons: false,
                  beforeShowForm: function (e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_edit_form(form);
                  }
                },
                {
                  //delete record form
                  recreateForm: true,
                  beforeShowForm: function (e) {
                    var form = $(e[0]);
                    if (form.data('styled')) return false;
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_delete_form(form);
                    form.data('styled', true);
                  },
                  onClick: function (e) {
                    alert(1);
                  }
                },
                {
                  //search form
                  recreateForm: true,
                  afterShowSearch: function (e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
                    style_search_form(form);
                  },
                  afterRedraw: function () {
                    style_search_filters($(this));
                  }
                  ,
                  multipleSearch: true
                  /**
                   multipleGroup:true,
                   showQuery: true
                   */
                },
                {
                  //view record form
                  recreateForm: true,
                  beforeShowForm: function (e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
                  }
                }
        )
        function style_edit_form(form) {
          //enable datepicker on "sdate" field and switches for "stock" field
          form.find('input[name=sdate]').datepicker({format: 'yyyy-mm-dd', autoclose: true})
                  .end().find('input[name=stock]')
                  .addClass('ace ace-switch ace-switch-5').wrap('<label class="inline" />').after('<span class="lbl"></span>');
          //update buttons classes
          var buttons = form.next().find('.EditButton .fm-button');
          buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
          buttons.eq(0).addClass('btn-primary').prepend('<i class="icon-ok"></i>');
          buttons.eq(1).prepend('<i class="icon-remove"></i>')
          buttons = form.next().find('.navButton a');
          buttons.find('.ui-icon').remove();
          buttons.eq(0).append('<i class="icon-chevron-left"></i>');
          buttons.eq(1).append('<i class="icon-chevron-right"></i>');
        }

        function style_delete_form(form) {
          var buttons = form.next().find('.EditButton .fm-button');
          buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
          buttons.eq(0).addClass('btn-danger').prepend('<i class="icon-trash"></i>');
          buttons.eq(1).prepend('<i class="icon-remove"></i>')
        }

        function style_search_filters(form) {
          form.find('.delete-rule').val('X');
          form.find('.add-rule').addClass('btn btn-xs btn-primary');
          form.find('.add-group').addClass('btn btn-xs btn-success');
          form.find('.delete-group').addClass('btn btn-xs btn-danger');
        }

        function style_search_form(form) {
          var dialog = form.closest('.ui-jqdialog');
          var buttons = dialog.find('.EditTable')
          buttons.find('.EditButton a[id*="_reset"]').addClass('btn btn-sm btn-info').find('.ui-icon').attr('class', 'icon-retweet');
          buttons.find('.EditButton a[id*="_query"]').addClass('btn btn-sm btn-inverse').find('.ui-icon').attr('class', 'icon-comment-alt');
          buttons.find('.EditButton a[id*="_search"]').addClass('btn btn-sm btn-purple').find('.ui-icon').attr('class', 'icon-search');
        }

        function beforeDeleteCallback(e) {
          var form = $(e[0]);
          if (form.data('styled')) return false;
          form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
          style_delete_form(form);
          form.data('styled', true);
        }

        function beforeEditCallback(e) {
          var form = $(e[0]);
          form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
          style_edit_form(form);
        }

        //it causes some flicker when reloading or navigating grid
        //it may be possible to have some custom formatter to do this as the grid is being created to prevent this
        //or go back to default browser checkbox styles for the grid
        function styleCheckbox(table) {
          /**
           $(table).find('input:checkbox').addClass('ace')
           .wrap('<label />')
           .after('<span class="lbl align-top" />')
           $('.ui-jqgrid-labels th[id*="_cb"]:first-child')
           .find('input.cbox[type=checkbox]').addClass('ace')
           .wrap('<label />').after('<span class="lbl align-top" />');
           */
        }

        //unlike navButtons icons, action icons in rows seem to be hard-coded
        //you can change them like this in here if you want
        function updateActionIcons(table) {

        }

        //replace icons with FontAwesome icons like above
        function updatePagerIcons(table) {
          var replacement =
          {
            'ui-icon-seek-first': 'icon-double-angle-left bigger-140',
            'ui-icon-seek-prev': 'icon-angle-left bigger-140',
            'ui-icon-seek-next': 'icon-angle-right bigger-140',
            'ui-icon-seek-end': 'icon-double-angle-right bigger-140'
          };
          $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
            var icon = $(this);
            var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
            if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
          })
        }

        function enableTooltips(table) {
          $('.navtable .ui-pg-button').tooltip({container: 'body'});
          $(table).find('.ui-pg-div').tooltip({container: 'body'});
        }

        //var selr = jQuery(grid_selector).jqGrid('getGridParam','selrow');
      });
      /**
       *获取年度的值
       **/
      function getPeriodTime(jqId) {
        $.get(BASE_URL + 'dudao/getPeriodTime', function (data) {
          var html = '';
          html += '<option value="' + "" + '" selected>所有年度</option>';
          for (var i = 0; i < data.length; i++) {
            var row = data[i];
            if (row.isCurrent.data[0]) {
              html += '<option value="' + row.NAME + '" selected>' + row.NAME + '</option>';
            } else {
              html += '<option value="' + row.NAME + '">' + row.NAME + '</option>';
            }
          }
          $(jqId).html(html);
        });
      }

