//
   Created by yinbin on 2015/9/4.
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    base(href='/')
    title 中石油书吧管理系统
    meta(name='keywords', content='中石油,书吧,中石油书吧管理系统')
    meta(name='description', content='中石油书吧管理系统,青岛恒之城科技股份有限公司制作')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // basic styles
    link(href='/assets/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/assets/css/font-awesome.min.css')
    //if IE 7
      link(rel='stylesheet', href='/assets/css/font-awesome-ie7.min.css')
    // page specific plugin styles
    link(rel='stylesheet', href='/assets/css/jquery-ui-1.10.3.full.min.css')
    link(rel='stylesheet',href='/assets/css/jquery.gritter.css')
    link(rel='stylesheet', href='/assets/css/datepicker.css')
    link(rel='stylesheet', href='/assets/css/ui.jqgrid.css')
    // fonts
    // <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
    // ace styles
    link(rel='stylesheet', href='/assets/css/ace.min.css')
    link(rel='stylesheet', href='/assets/css/ace-rtl.min.css')
    link(rel='stylesheet', href='/assets/css/ace-skins.min.css')
    //if lte IE 8
      link(rel='stylesheet', href='/assets/css/ace-ie.min.css')
    // inline styles related to this page
    style.
      .ui-jqgrid-view > .ui-jqgrid-titlebar {
        background: lightgray;
      }

      .breadcrumbs, #sidebar-collapse, .alert, .page-header {
        display: none;
      }

      .date, .btn, input {
        height: 33px;
      }

      .btn{
        font-size: 15px;
      }

      .menu-text{
        font-size: 18px;
        margin-left: 10px;
      }

      .searchTable {
        width: 100%;
        border-collapse: separate;
        border-spacing: 5px;
        margin-bottom: 10px;
      }

      .searchTable tr td:nth-child(odd) {
        text-align: right;
        width: 100px;
        height: 33px;
      }

      .searchTable tr td:nth-child(even) {
        width: 200px;
        height: 33px;
      }

      .searchTable tr td:nth-last-child(1) {
        width: auto;
        float: left;
      }

      .searchTable input {
        width: 180px;
      }

      a {
        text-decoration: underline;
        cursor: pointer;
      }

      a:hover {
        color: blue;
      }

    // ace settings handler
    script(src='/assets/js/ace-extra.min.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='/assets/js/html5shiv.js')
      script(src='/assets/js/respond.min.js')
    // basic scripts
    //if !IE
    script(src='/assets/js/jquery-2.0.3.min.js')
    // <![endif]
    //if IE
      script(src='/assets/js/jquery-1.10.2.min.js')
    //if !IE
    script(type='text/javascript').
      window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    // <![endif]
    //if IE
      script(type='text/javascript').
        window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>" + "<" + "/script>");
    script(type='text/javascript').
      if ("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    script(src='/assets/js/bootstrap.min.js')
    script(src='/assets/js/typeahead-bs2.min.js')
    // page specific plugin scripts
    script(src='/assets/js/date-time/bootstrap-datepicker.min.js')
    script(src='/assets/js/jqGrid/jquery.jqGrid.min.js')
    script(src='/assets/js/jqGrid/i18n/grid.locale-en.js')
    // ace scripts
    script(src='/assets/js/ace-elements.min.js')
    script(src='/assets/js/ace.min.js')
    script(src='/assets/js/bootbox.min.js')
    script(src='/assets/js/jquery.gritter.min.js')
    // inline scripts related to this page
    script(type='text/javascript', src='/javascripts/format.js')
    //script(src='/assets/Highcharts-4.1.7/js/highcharts.js')
    //script(src='/assets/Highcharts-4.1.7/js/modules/exporting.js')
    script(type='text/javascript',src="/javascripts/layout-header.js")

  body
    #navbar.navbar.navbar-default(style="background:url(assets/images/nav-background-picture.png);" )
      script(type='text/javascript').
        try {
          ace.settings.check('navbar', 'fixed')
        } catch (e) {
        }
      #navbar-container.navbar-container(style='')
        .navbar-header.pull-left
          span.navbar-brand(href='#')
            img(src='assets/images/logonew.png',style='width:25px;')
            small
              i
              |                    中国石油书吧APP管理系统
          // /.brand
        a.btn.btn-default.pull-right(href="/logout",style="margin-top:10px;padding-top:2px;") 退出登录
      // /.container
    #main-container.main-container
      script(type='text/javascript').
        try {
          ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
      .main-container-inner
        //a#menu-toggler.menu-toggler(href='#')
            span.menu-text
        #sidebar.sidebar
          script(type='text/javascript').
            try {
              ace.settings.check('sidebar', 'fixed')
            } catch (e) {
            }
          #sidebar-shortcuts.sidebar-shortcuts
            #sidebar-shortcuts-large.sidebar-shortcuts-large
              button.btn.btn-success
                i.icon-signal
              button.btn.btn-info
                i.icon-pencil
              button.btn.btn-warning
                i.icon-group
              button.btn.btn-danger
                i.icon-cogs
            #sidebar-shortcuts-mini.sidebar-shortcuts-mini
              span.btn.btn-success
              span.btn.btn-info
              span.btn.btn-warning
              span.btn.btn-danger
          // #sidebar-shortcuts
          ul#menu-list-id.nav.nav-list
            li
              a(href='user')
                img(src='assets/images/student-jbqk.png' style='width:%;height:60%')
                span.menu-text 用户管理
            li.active
              a(href='book/category')
                img(src='assets/images/kckb.png' style='width:%;height:60%')
                span.menu-text 分类管理
            li
              a(href='book/pdf')
                img(src='assets/images/teacher-gzqk.png' style='width:%;height:60%')
                span.menu-text 图书管理
            li
              a(href='import')
                img(src='assets/images/teacher-jbqk.png' style='width:%;height:60%')
                span.menu-text 批量导入
            li
              a(href='about')
                img(src='assets/images/student-xxzk.png' style='width:%;height:60%')
                span.menu-text 关于系统
          #sidebar-collapse.sidebar-collapse
            i.icon-double-angle-left(data-icon1='icon-double-angle-left', data-icon2='icon-double-angle-right')
          script(type='text/javascript').
            try {
              ace.settings.check('sidebar', 'collapsed')
            } catch (e) {
            }
            $(function () {
              var pathname = window.location.pathname;
              var a = $('#menu-list-id').children('li').removeClass('active').children('a').filter(function () {
                return '/' + $(this).attr('href') === pathname;
              }).parent().addClass('active');
            });
        block content

      // /.main-container-inner
    // /.main-container
    //input#fileupload(type="file",name="files[]",data-url="/upload" multiple)
    script(type='text/javascript',src="/javascripts/layout-footer.js")
